<!DOCTYPE html>
<html>
<head>
  <title>Adicionar aeródromo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="ICAO">ICAO: </label>
		<input required pattern="[A-Z]{4}" type="text" name="icao" id="ICAO" value="{{aerodrome.ICAO}}" 
		oninvalid="setCustomValidity('O ICAO deve ter quatro letras maíusculas')"
		oninput="setCustomValidity('')">

		<label for="AerodromeName">Nome do aerodromo: </label>
		<input required type="text" name="aerodrome_name" id="AerodromeName" value="{{aerodrome.AerodromeName}}">

		<label for="Latitude">Latitude (ex.: -22.776400): </label>
		<input required pattern="-?[0-9]*\.[0-9]{6}" type="text" name="latitude" id="Latitude" value="{{aerodrome.Latitude}}"
		oninvalid="setCustomValidity('A latitude deve ter precisão de seis digitos')"
		oninput="setCustomValidity('')">

		<label for="Longitude">Longitude (ex.: -38.532041): </label>
		<input required pattern="-?[0-9]*\.[0-9]{6}" type="text" name="longitude" id="Longitude" value="{{aerodrome.Longitude}}"
		oninvalid="setCustomValidity('A longitude deve ter precisão de seis digitos')"
		oninput="setCustomValidity('')">

		<label for="CityName">Cidade: </label>
		<input type="text" name="city_name" id="CityName" value="{{aerodrome.CityName}}">

		<label for="StateCode">Estado: </label>
		<select name="state_code" id="StateCode">
			{% for t in States %}
			{% if aerodrome.StateCode == t.StateCode %}
				<option value="{{t.StateCode}}" selected>{{t.StateName}} - {{t.StateAbbreviation}}</option>
			{% else %}
				<option value="{{t.StateCode}}">{{t.StateName}} - {{t.StateAbbreviation}}</option>
			{% endif %}
			{% endfor %}
		</select>

		<button type="submit">OK</button>
	</form>
	{% if canDelete %}
	<form method="post" action="/area/restrita/{{icao}}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
