<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - TAF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		{% if canDelete %}
		<label for="ICAO">ICAO: </label>
		<input type="text" name="ICAO" id="ICAO" value="">
		{% endif %}

		<label for="AerodromeName">Nome do aerodromo: </label>
		<input type="text" name="AerodromeName" id="AerodromeName" value="{{aerodrome.AerodromeName}}">

		<label for="Latitude">Latitude: </label>
		<input type="text" name="Latitude" id="Latitude" value="{{aerodrome.Latitude}}">

		<label for="Longitude">Longitude: </label>
		<input type="text" name="Longitude" id="Longitude" value="{{aerodrome.Longitude}}">

		<label for="CityName">Cidade: </label>
		<input type="text" name="CityName" id="CityName" value="">

		<label for="StateCode">Estado: </label>
		<select name="StateCode" id="StateCode">
			{% for t in States %}
			{% if StateCode == t.StateName %}
				<option value="{{t.StateCode}}" selected>{{t.StateName}} - {{t.StateAbbreviation}}</option>
			{% else %}
				<option value="{{t.StateCode}}">{{t.StateName}} - {{t.StateAbbreviation}}</option>
			{% endif %}
			{% endfor %}
		</select>

		<button type="submit">OK</button>
	</form>
	{% if canDelete %}
	<form method="post" action="/area/restrita/{{icao}}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
