<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - TAF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="ICAO">ICAO: </label>
		<input type="text" name="ICAO" id="ICAO" value="">

		<label for="AerodromeName">Nome do aerodromo: </label>
		<input type="text" name="AerodromeName" id="AerodromeName" value="{{aerodrome.AerodromeName}}">

		<label for="Latitude">Latitude: </label>
		<input type="text" name="Latitude" id="Latitude" value="{{aerodrome.Latitude}}">

		<label for="Longitude">Longitude: </label>
		<input type="text" name="Longitude" id="Longitude" value="{{aerodrome.Longitude}}">

		<select name="CityCode" id="CityCode">
			{% for c in CityCodes %}
				{% if aerodrome.CityCode == c.CityCode %}
					<option value="{{ c.CityCode }}" selected>{{ c.City }}</option>
				{% else %}
					<option value="{{ c.CityCode }}">{{ c.City }}</option>
				{% endif %}
			{% endfor %}
		</select>

		<label for="OtherCity">Outra cidade: </label>
		<input type="text" name="OtherCity" id="OtherCity" value="" oninput="toggleSelect()">

		<button type="submit">OK</button>
	</form>
	{% if canDelete %}
	<form method="post" action="/area/restrita/{{icao}}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
	<script>
		function toggleSelect() {
			var otherCityInput = document.getElementById("OtherCity")
			var cityCodeSelect = document.getElementById("CityCode")

			if (otherCityInput.value.trim() !== "") {
				cityCodeSelect.disabled = true;
			} else {
				cityCodeSelect.disabled = false;
			}
		}
	</script>
</body>
</html>
