<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - Comunicação</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="Frequency">Frequência: </label>
		<input type="text" name="Frequency" id="Frequency" value="{{communication.Frequency}}">

		<label for="CommType">Tipo: </label>
		<input type="text" name="CommType" id="CommType" value="{{communication.CommType}}">

		<button type="submit">OK</button>
	</form>

	<form method="post" action="/area/restrita/{{icao}}/communication/{{communication.Frequency }}/delete">
		<button class="button-admin" type="submit">OK</button>
	</form>
	</main>
</body>
</html>
