<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - Comunicação</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="Frequency">Frequência: </label>
		<input type="text" name="frequency" id="Frequency" value="{{communication.Frequency}}">

		<label for="CommType">Tipo: </label>
		<select name="comm_type" id="CommType">
		{% for t in commTypes %}
			{% if communication.CommType == t.CommType %}
				<option value="{{t.CommType}}" selected>{{t.CommType}}</option>
			{% else %}
				<option value="{{t.CommType}}">{{t.CommType}}</option>
			{% endif %}
		{% endfor %}
		</select>

		<button type="submit">OK</button>
	</form>

	{% if canDelete %}
	<form method="post" action="/area/restrita/{{icao}}/communication/{{communication.Frequency }}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
