<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - ILS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="Ident">Ident: </label>
		<input type="text" name="ident" id="Ident" value="{{ils.Ident}}">

		<label for="RunwayHead">Cabeçeira: </label>
		<input required pattern="^\d{2}[LRC]?$" type="text" name="runway_head" id="RunwayHead" value="{{ils.RunwayHead}}">

		<label for="Frequency">Frequência (de 108,0MHz a 118,0MHz sem vírgula): </label>
		<input reqired type="number" name="frequency" id="Frequency" value="{{ils.Frequency}}">

		<label for="Category">Categoria: </label>
		<select name="category" id="Category">
		{% for t in ILS_Categories %}
			{% if ils.Category == t %}
				<option value="{{ t }}" selected>{{ t }}</option>
			{% else %}
				<option value="{{ t }}">{{ t }}</option>
			{% endif %}
		{% endfor %}
		</select>

		<label for="CRS">Curso final (graus): </label>
		<input type="text" name="crs" id="CRS" value="{{ils.CRS}}">

		<label for="Minimum">Minimum (metros): </label>
		<input type="text" name="minimum" id="Minimum" value="{{ils.Minimum}}">

		<button type="submit">OK</button>
	</form>

	{% if canDelete %}
	<form method="post" action="/area/restrita/{{icao}}/ils/{{ils.Frequency}}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
