<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - TAF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form action="/area/restrita/logout" method="post">
		<button type="submit">Logout</button>
	</form>
	<h1>Aeroportos autorizados</h1>
	{% if canCreate %}
	<a href="/area/restrita/add"><i>Adicionar Aeroporto</i></a>
	{% endif %}
	<ul>
	{% for icao, name in allowed_aerodromes_list %}
		<li><a href="/area/restrita/info/{{ icao }}">{{ name }}</a></li>
	{% endfor %}
	</ul>
	</main>
</body>
</html>
