<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - Pista {{runway.Head1}} - {{runway.Head2}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="head1">Cabeçeira 1: </label>
		<input type="text" name="Head1" id="head1" value="{{runway.Head1}}">

		<label for="head2">Cabeçeira 2: </label>
		<input type="text" name="Head2" id="head2" value="{{runway.Head2}}">

		<label for="RunwayLength">Comprimento: </label>
		<input type="text" name="RunwayLength" id="RunwayLength" value="{{runway.RunwayLength}}">

		<label for="RunwayWidth">Largura: </label>
		<input type="text" name="RunwayWidth" id="RunwayWidth" value="{{runway.RunwayWidth}}">

		<label for="PavementCode">Tipo do pavimento: </label>
		<select name="PavementCode" id="PavementCode">
			{% for p in pavementCodes %}
				{% if runway.PavementCode == p.Code %}
					<option value="{{p.Code}}" selected>{{p.Material}}</option>
				{% else %}
					<option value="{{p.Code}}">{{p.Material}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<button type="submit">OK</button>
	</form>
	{% if canDelete %}
	<form method="post" action="/area/restrita/{{ icao }}/runway/{{ runway.Head1 }}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
