<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - Pista {{runway.Head1}} - {{runway.Head2}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="head1">Cabeçeira 1: </label>
		<input required pattern="^\d{2}[LRC]?$" type="text" name="head1" id="head1" value="{{runway.Head1}}"
		oninvalid="setCustomValidity('Escreve uma cabeçeira válida')"
		oninput="setCustomValidity('')">

		<label for="head2">Cabeçeira 2: </label>
		<input required pattern="^\d{2}[LRC]?$" type="text" name="head2" id="head2" value="{{runway.Head2}}"
		oninvalid="setCustomValidity('Escreva uma cabeçeira válida')"
		oninput="setCustomValidity('')">

		<label for="RunwayLength">Comprimento: </label>
		<input min="100" max="5000" required type="number" name="runway_length" id="RunwayLength" value="{{runway.RunwayLength}}"
		oninvalid="setCustomValidity('O comprimento deve ser de 100 a 5000')"
		oninput="setCustomValidity('')">

		<label for="RunwayWidth">Largura: </label>
		<input min="20" max="80" required type="number" name="runway_width" id="RunwayWidth" value="{{runway.RunwayWidth}}"
		oninvalid="setCustomValidity('A largura deve ser de 20 a 80')"
		oninput="setCustomValidity('')">

		<label for="PavementCode">Tipo do pavimento: </label>
		<select name="pavement_code" id="PavementCode">
			{% for p in pavementCodes %}
				{% if runway.PavementCode == p.Code %}
					<option value="{{p.Code}}" selected>{{p.Material}}</option>
				{% else %}
					<option value="{{p.Code}}">{{p.Material}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<button type="submit">OK</button>
	</form>
	{% if canDelete %}
	<form method="post" action="/area/restrita/{{ icao }}/runway/{{ runway.Head1 }}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
