<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - VOR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="Ident">Ident: </label>
		<input type="text" name="ident" id="Ident" value="{{vor.Ident}}">

		<label for="Frequency">Frequência: </label>
		<input type="text" name="frequency" id="Frequency" value="{{vor.Frequency}}">

		<button type="submit">OK</button>
	</form>

	{% if canDelete %}
	<form method="post" action="/area/restrita/{{icao}}/vor/{{vor.Frequency}}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
