<!DOCTYPE html>
<html>
<head>
  <title>Editar {{ icao }} - VOR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<main>
	<form method="post" action="{{ action }}">
		<label for="Ident">Ident (ex.: ABC): </label>
		<input required pattern="^[A-Z]{3}$" name="ident" id="Ident" value="{{vor.Ident}}"
		oninvalid="setCustomValidity('A identificação deve ter três letra maiúsculas')"
		oninput="setCustomValidity('')">

		<label for="Frequency">Frequência (4 digitos, sem vírgula): </label>
		<input required type="number"  min="1080" max="1180" name="frequency" id="Frequency" value="{{vor.Frequency}}"
		oninvalid="setCustomValidity('A frequência deve ser um número de 1080 até 1180 (não use vírgula)')"
		oninput="setCustomValidity('')">

		<button type="submit">OK</button>
	</form>

	{% if canDelete %}
	<form method="post" action="/area/restrita/{{icao}}/vor/{{vor.Frequency}}/delete">
		<button type="submit">Deletar</button>
	</form>
	{% endif %}
	</main>
</body>
</html>
