.runway-number {
    background-color: rgb(188, 8, 8);
    font-weight: bold;
    padding: 6px;
    white-space: nowrap;
  }
  .runway-length {
    font-size: 0.7em;
    margin: 5px;
    color:rgb(155, 155, 155);
  }
  .rwy-in-use {
    border-top: white solid 3px;
    font-style: italic;
  }