html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
}
@media screen and (min-width: 1240px) {
  main {
      width: 1200px;
      margin: 20px auto;
  }
}
main {
  padding: 10px;
}
header {
  font-size: 48px;
  padding: 20px 0;
  background-color: rgb(88, 88, 88);
}
.first-line {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  .first-line {
    display: block;
  }
}
.metar {
  font-family: monospace;
  font-size: 20px;
}
.line {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 15px;
  margin: 15px 0;
  grid-auto-rows: 1fr
}
.line-big {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
  gap: 15px;
  margin: 15px 0;
  grid-auto-rows: 1fr
}
.line-airports {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 15px;
  margin: 15px 0;
  grid-auto-rows: 1fr
}
.line-margin {
  margin: 0 25%;
}
@media screen and (max-width: 400px) {
  .line-margin {
    margin: 0;
  }
}
.box-rounded {
  border-radius: 8px;
  padding: 10px;
}
.box {
  padding: 10px;
}
.box-outlined {
  border: white solid 1px;
}
.box-onhover:hover {
  background-color: #aaa;
  cursor: pointer;
}
.box-gray {
  background-color: #4d4d4d;
}
.box-blue {
  border: aqua solid 1px;
  background-color: rgba(0, 255, 255, 0.139);
}
.box-orange {
  border: rgb(236, 206, 14) solid 1px;
  background-color: rgba(236, 206, 14, 0.174);
}
.box-name {
  color: #aaa;
}
.box-airport-name {
  color: #edb90c;
  text-align: center;
}
.box-value {
  font-size: 24px;
}
header {
  text-align: center;
  border-bottom: #aaa solid 3px;
}

.center-text {
  text-align: center;
}

a {
  text-decoration: none; 
  color: white; 
}
a:visited {
  text-decoration: none; 
  color: white; 
}

table {
  font-size: 20px;
  width: 100%;
  border: 1px solid white;
  border-radius: 8px;
}

td {
  border: 10px solid #333;
  padding: 0;
}

.metarItem {
  font-family: monospace;
  color: #333;
  padding: 5px;
  background-color: #bbb;
}

.metarSubItem {
  border-left: #333 solid 30px;
}

.tafGroupHeader {
  background-color: #edb90c;
  border-radius: 17px;
}

.direct-icao {
  display: flex;
  align-items: center;
  justify-content: center;
}
.direct-icao > input {
  font-size: 2rem;
  height: 50px;
  max-width: 400px;
  min-width: 100px;
  margin: 0;
  padding: 0 5px;
  outline: none;
  border: solid rgb(255, 255, 255) 3px;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.direct-icao > input:focus {
  border: solid #edb90c 3px;
}

.direct-icao > button {
  padding: 20px 20px;
  font-size: 2rem;
  border: 0;
  margin: 0;
  padding: 5px 20px;
  height: 50px;
  background-color: #edb90c;
}

.direct-icao > button>img {
  width: 40px;
}
.button-small {
  background-color: rgb(0, 82, 136); 
  border: 1px solid white ;
  padding: 3px;
  a, a:visited {color: white; text-decoration: none; }
  font-family: sans-serif;
  margin-right: 5px;
}
.button-small:hover {
  background-color: rgb(0, 100, 167); 
}
