html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
}
@media screen and (min-width: 1240px) {
  main {
      width: 1200px;
      margin: 20px auto;
  }
}
main {
  padding: 10px;
}
header {
  font-size: 48px;
  padding: 20px 0;
  background-color: rgb(88, 88, 88);
}
.metar {
  font-family: monospace;
  font-size: 20px;
}
.line {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 15px;
  margin: 15px 0;
  grid-auto-rows: 1fr
}
.line-margin {
  margin: 0 25%;
}
.box-rounded {
  border-radius: 8px;
  padding: 10px;
}
.box {
  padding: 10px;
}
.box-outlined {
  border: white solid 1px;
}
.box-onhover:hover {
  background-color: #aaa;
  cursor: pointer;
}
.box-gray {
  background-color: #4d4d4d;
}
.box-blue {
  border: aqua solid 1px;
  background-color: rgba(0, 255, 255, 0.139);
}
.box-orange {
  border: rgb(236, 206, 14) solid 1px;
  background-color: rgba(236, 206, 14, 0.174);
}
.box-name {
  color: #aaa;
}
.box-value {
  font-size: 24px;
}
header {
  text-align: center;
  border-bottom: #aaa solid 3px;
}
.runway-number {
  background-color: rgb(188, 8, 8);
  font-weight: bold;
  padding: 6px;
  white-space: nowrap;
}
.runway-length {
  font-size: 0.7em;
  margin: 5px;
  color:rgb(155, 155, 155);
}

.center-text {
  text-align: center;
}

a {
  text-decoration: none; 
  color: white; 
}
a:visited {
  text-decoration: none; 
  color: white; 
}

table {
  font-size: 20px;
  width: 100%;
  border: 1px solid white;
  border-radius: 8px;
}

td {
  border: 10px solid #333;
  padding: 0;
}

.metarItem {
  font-family: monospace;
  color: #333;
  padding: 5px;
  background-color: #bbb;
}
