.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
    color: white;
    font-size: 20px;
  }
  
.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color:rgb(37, 37, 37);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  white-space: normal;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%), translateY(-10%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-left {
  transform: translateX(-100%) !important;
}

