<!DOCTYPE html>
<html>
<head>
  <title>Aeroporto {{info.icao}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tooltip.css">
  <link rel="stylesheet" href="/static/rwy.css">
</head>
<body>
	<header>
		{{ info.icao }} // {{ info.nome }}
		<div class="metar">
			{{ metar[0] }}
		</div>
	</header>
	<main>
	<div class="line line-margin">
		{% for rwy in info.rwy %}
		<div class="box">
			<div class="box-value" style="display: flex; justify-content: space-around; align-items: center;">
				<div>
					<div class="runway-number tooltip">
						{% for head in rwy.head %}
							<span {% if rwy_in_use is not none and head in rwy_in_use %} class="rwy-in-use" {% endif %}>
								{% if rwy_in_use is not none %}
								{% if head in rwy_in_use %}
									<span class="tooltip-text">
										Pela direção do vento, a cabeceira {{ head }} 
										é a mais favorável para pousos e decolagens.
									</span>
								{% endif %}
								{% endif %}
								{{ head }}
							</span>
							{% if not loop.last %} - {% endif %}
						{% endfor %}
					</div>
					<span class="runway-length center-text tooltip">({{ rwy.length }}m)
						<span class="tooltip-text">
							Comprimento desta pista.
						</span>
					</span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="line">
		{% for comm in info.comm %}
		<div class="box-rounded box-outlined">
			<div class="box-name">{{comm.type}}</div><div class="box-value">{{comm.freq}}</div>
		</div>
		{% endfor %}
	</div>
	{% if info.ils != None %}
	<div class="line">
		{% for ils in info.ils %}
		<div class="box-rounded box-blue">
			<div class="box-name">ILS CAT {{ils.cat}}</div><div class="box-value">{{ ils.freq }} {{ ils.ident }} {{ils.crs}}° <small>(pista {{ ils.rwy }})</small></div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% if info.vor != None %}
	<div class="line">
		{% for vor in info.vor %}
		<div class="box-rounded box-orange">
			<div class="box-name">VOR</div><div class="box-value">{{ vor.freq }} {{ vor.ident }}</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<table class="padded-table">
		{% for (item, description) in decoded %}
		<tr>
			<td class="metarItem">{{ item }}</td>
			<td>{{ description }}</td>
		</tr>
		{% endfor %}
	</table>
	<!--{{ metar[1] }}-->
	</main>
</body>
</html>

