<!DOCTYPE html>
<html>
<head>
  <title>Aeroporto {{ info.AerodromeName }} | AERO A4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tooltip.css">
  <link rel="stylesheet" href="/static/rwy.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<div class="iframe-container" id="iframe-container">
		<button class="button-small" onclick="document.getElementById('iframe-container').style.display = 'none'">Fechar</button>
		<iframe src="/wind/{{icao}}/"></iframe>
	</div>
	<header>
		<span style="color: #eee; padding: 3px; font-weight: 700; border-radius: 10px;">{{ icao }}</span> // {{ info.AerodromeName }}
		{% if isLogged %}
			<a href="/area/restrita/{{ icao }}/edit" class="button-admin">Editar</a>
		{% endif %}
	</header>
	<main>
	<subheader>
		<a class="button-small" href="{{ go_back }}">&lt Voltar</a>
		<a class="button-small" href="javascript:void(0);" onclick="copy('{{metar}}')">Copiar METAR</a>
		<a class="button-small" href="/taf/{{icao}}">TAF</a>
		<a class="button-small" href="/history/{{icao}}">Histórico</a>
		<a class="button-small" id="ellipsis-btn" href="javascript:void(0);" onclick="toggleMenu(event)">...</a>
		<div class="menu-ellipsis" id="menu" style="display: none; position: absolute;">
			<a class="button-small" href="https://conv.a4barros.com">Conversor de unidades</a>
			<a class="button-small" href="javascript:void(0)" onclick="toggleMenu(event); showMiniApp('/descent')">Cálculo de descida</a>
			<a class="button-small" href="javascript:void(0);" onclick="toggleMenu(event); showMiniApp('/wind/{{icao}}', false)">Vento e pistas</a>
			<a class="button-small" href="javascript:void(0)" onclick="toggleMenu(event); showMiniApp('/wind')">Cálculo de componentes de vento</a>
		</div>
		{% if isLogged %}
		{% if IsPublished %}
			<a class="button-small" href="/area/restrita/{{icao}}/unpublish">Ocultar</a>
		{% else %}
			<a class="button-small" href="/area/restrita/{{icao}}/publish">Publicar</a>
		{% endif %}
		{% endif %}
	</subheader>
	
	{% if info is not none %}
	<div class="line line-margin">
		{% for runway in info.runways %}
		<div class="box">
			<div class="box-value" style="display: flex; justify-content: space-around; align-items: center;">
				<div>
					<div class="runway-number tooltip">
						{{ runway.Head1 }} - {{ runway.Head2 }}
						<span style="font-weight: normal;" class="center-text tooltip">ⓘ
							<span class="tooltip tooltip-text">
								Comprimento: {{ runway.RunwayLength }} m<br />
								Largura: {{ runway.RunwayWidth }} m
							</span>
						</span>
						{% if isLogged %}
							<a href="/area/restrita/{{icao}}/runway/{{runway.Head1}}/edit" class="button-admin">Editar</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% if isLogged %}
			<a href="/area/restrita/{{icao}}/runway/add" class="button-admin">Adicionar Pista</a>
		{% endif %}
	</div>
	<div class="line">
		{% for comm in info.communication %}
		<div class="box-rounded box-outlined">
			<div class="box-name">{{comm.CommType}}</div>
			<div class="box-value"><b>{{comm.Frequency | frequency3 }}</b><small>MHz</small>
				{% if isLogged %}
				<a href="/area/restrita/{{icao}}/communication/{{ comm.Frequency }}/edit" class="button-admin">Editar</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% if isLogged %}
		<div class="line">
			<a href="/area/restrita/{{icao}}/communication/add" class="button-admin">Adicionar Comunicação</a>
		</div>
	{% endif %}
	{% if info.ils != None %}
	<div class="line">
		{% for ils in info.ils %}
		<div class="box-rounded box-blue">
			<div class="box-name">ILS pista {{ ils.RunwayHead }}</div>
			<div class="box-value" style="justify-content: space-between; display: flex;">
				<span>
				{{ ils.Ident }} <b>{{ ils.Frequency | frequency1 }}</b><small>MHz</small>
				</span>

				<span class="tooltip">ⓘ
					<span class="tooltip tooltip-text tooltip-left" style="text-align: right;">
						<div style="font-size: 1.1em;">ILS CAT {{ils.Category}}</div>
						Frequência: {{ ils.Frequency | frequency1 }}<br />
						Ident: {{ ils.Ident }} <br />
						Altitude de decisão: {{ ils.Minimum }}<br />
						Curso final: {{ils.CRS}}° 
					</span>
				</span>
				{% if isLogged %}
				<a href="/area/restrita/{{ icao }}/ils/{{ ils.Frequency }}/edit" class="button-admin">Editar</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% if isLogged %}
		<div class="line">
			<a href="/area/restrita/{{icao}}/ils/add" class="button-admin">Adicionar ILS</a>
		</div>
	{% endif %}
	{% if info.vor != None %}
	<div class="line">
		{% for vor in info.vor %}
		<div class="box-rounded box-orange">
			<div class="box-name">VOR</div>
			<div class="box-value">
				{{ vor.Ident }} <b>{{ vor.Frequency | frequency1 }}</b><small>MHz</small>
				{% if isLogged %}
					<a href="/area/restrita/{{icao}}/vor/{{ vor.Frequency }}/edit" class="button-admin">Editar</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endif %}
	{% if isLogged %}
		<div class="line">
			<a href="/area/restrita/{{icao}}/vor/add" class="button-admin">Adicionar VOR</a>
		</div>
	{% endif %}
	<table class="padded-table">
		{% for (item, description) in decoded %}
		<tr>
			<td class="metarItem">{{ item }}</td>
			<td>{{ description|safe }}</td>
		</tr>
		{% endfor %}
	</table>
	</main>
	<script src="/static/copy.js"></script>
	<script src="/static/miniapp.js"></script>

	<div class="sim-only">APENAS PARA USO EM SIMULADOR</div> 
</body>
</html>

