<!DOCTYPE html>
<html>
<head>
  <title>Erro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div style="display: flex; height: 100%; width: 100%; justify-content: center; align-items: center; text-align: center;">
    <div style="display: block;">
      <div style="font-size: 1.5rem; ">{{ error }}</div> 
      {% if details %}
        <div style="text-align: left;">
          <div>Detalhes: </div>
          <ul>
            {% for detail in details %}
              <li style="font-size: 0.9rem; "><pre>{{ detail }}</pre></li> 
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
	</div>
</body>
</html>

