<!DOCTYPE html>
<html>
<head>
  <title>Histórico | Aeroporto {{ info.AerodromeName }} | AERO A4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tooltip.css">
  <link rel="stylesheet" href="/static/rwy.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<header>
		<span style="color: #eee; padding: 3px; font-weight: 700; border-radius: 10px;">{{ icao }}</span> // {{ info.AerodromeName }}
	</header>
	<main>
	<subheader>
		<a class="button-small" href="/info/{{icao}}">&lt Voltar</a>
		<a class="button-small" href="/download/excel/{{icao}}">Baixar como planilha</a>
		{% if page <= 4 %}
		<a class="button-small" href="/history/{{icao}}/{{page + 1}}">&nbsp;&lt;&nbsp;</a>
		{% endif %}
		{% if page > 1 %}
		<a class="button-small" href="/history/{{icao}}/{{page - 1}}">&nbsp;&gt;&nbsp;</a>
		{% endif %}
	</subheader>
	
	<div class="scroll-container">
		<img src="/static/plots/{{icao}}-temperature-dew_point-{{page}}.svg">
	</div>
	<div class="scroll-container">
		<img src="/static/plots/{{icao}}-wind_speed-wind_direction-{{page}}.svg">
	</div>
	<div class="scroll-container">
		<img src="/static/plots/{{icao}}-qnh-visibility-{{page}}.svg">
	</div>
	</main>
	<div class="sim-only">APENAS PARA USO EM SIMULADOR</div> 
</body>
</html>

