<!DOCTYPE html>
<html>
<head>
  <title>Aeroporto {{ info.AerodromeName }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tooltip.css">
  <link rel="stylesheet" href="/static/rwy.css">
  <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
	<header>
		<span style="color: #eee; padding: 3px; font-weight: 700; border-radius: 10px;">{{ icao }}</span> // {{ info.AerodromeName }}
	</header>
	<main>
	<subheader>
		<a class="button-small" href="/info/{{icao}}">&lt Voltar</a>
	</subheader>
	
	<div class="scroll-container">
		<img src="/static/plots/{{icao}}-temperature-dew_point.svg">
	</div>
	<div class="scroll-container">
		<img src="/static/plots/{{icao}}-wind_speed-wind_direction.svg">
	</div>
	<div class="scroll-container">
		<img src="/static/plots/{{icao}}-qnh-visibility.svg">
	</div>
	</main>
	<div class="sim-only">APENAS PARA USO EM SIMULADOR</div> 
</body>
</html>

