<!DOCTYPE html>
<html>
<head>
  <title>Lista Aeroportos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
	<header>
		Lista Aeroportos
	</header>
	<main>
	<div class="direct-icao">
		<input type="text" id="ICAO" placeholder="outro ICAO">
		<button onclick="directToICAO()">Ir</button>
	</div>
	<div class="line-airports">
		{% for airport in airports %}
		<div class="box-rounded box-outlined box-onhover" onclick="location.href='/info/{{airport[1]}}';">
			<div class="box-airport-name">
				{{ airport[2] }}
			</div>
			<div class="box-value center-text">
				{{ airport[1] }} ● {{ airport[0] }}
			</div>
		</div>
		{% endfor %}
	</div>
	</main>
	<script>
		function directToICAO()
		{
			const x = document.getElementById('ICAO').value
			location.href='/info/' + x;
		}
	</script>
</body>
</html>

