<!DOCTYPE html>
<html>
<head>
  <title>Lista Aeroportos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
	<header>
		<span style="color: #eee; padding: 3px; font-weight: 700; border-radius: 10px;">AERO</span> // A4
	</header>
	<main>
	<subheader>
	{% if isLogged %}
		<form action="/area/restrita/logout" method="POST">
			<button type="submit" class="button-small" href="/area/restrita/">Logout</button>
		</form>
	{% endif %}
	
	{% if isSuper %}
		<a class="button-small" href="/area/restrita/add">Adicionar aeródromo</a>
	{% endif %}
	</subheader>
	<div class="direct-icao">
		<button id="searchButton"><img src="static/search.svg"></button>
		<input type="text" id="searchInput" oninput="searchAirports()" placeholder="Pesquisar...">
	</div>
	<div class="line-airports">
		{% for airport in airports %}
		<div class="airport box-rounded box-outlined box-onhover" onclick="location.href='/info/{{airport[1]}}';">
			<div class="box-airport-name">
				{{ airport[2] }}
			</div>
			<div class="box-value center-text">{{ airport[1] }} ● {{ airport[0] }}
				{% if isLogged and airport[3] == false %}
					(oculto)
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	<div id="noResultMessage" style="display: none; text-align:center">Sem resultados.</div>
	<div id="enterMessage" style="display: none; text-align:center">Pressione <span style="font-family: monospace;">&ltEnter&gt</span> para acessar o aeroporto.</div>
	</main>
	<div style="text-align: center; color: #aaa">v. {{ VERSION }}</div>
	
	<script>
		window.onload = function() {
    		document.getElementById('searchInput').focus();
  		};
	</script>
	<script src="static/search.js"></script>
</body>
</html>

