<!DOCTYPE html>
<html>
<head>
  <title>Mapa | AERO A4</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/wind.css">
    <link rel="stylesheet" href="/static/3p/leaflet.css" />
    <style>
        .leaflet-layer,
        .leaflet-control-zoom-in,
        .leaflet-control-zoom-out,
        .leaflet-control-attribution {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
        }
    </style>
</head>
<body>
  <header>
		MAPA
	</header>
  <main>
    <subheader>
      <a class="button-small" href="/">&lt Voltar</a>
      Clique no ícone laranja para abrir o aeroporto.
    </subheader>
    <div id="map" style="width: 100%; height: calc(100vh - 200px);"></div>
    <script src="/static/3p/leaflet.js"></script>
    <script>
       const locations = {{ locations | safe }}
    </script>
    <script src="/static/map.js"></script>      
    <div class="sim-only">APENAS PARA USO EM SIMULADOR</div> 
    <script src="/static/vertical.js">
    </script>
  </main>
</body>
</html>