<!DOCTYPE html>
<html>
<head>
  <title>Aeroporto {{ info.AerodromeName }} - TAF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tooltip.css">
  <link rel="stylesheet" href="/static/rwy.css">
  <style>
    .hidden {
      display: none;
    }
    .expandable {
      cursor: pointer;
    }
  </style>
</head>
<body>
	<header>
		<span style="background-color: #eee; color: #565656; padding: 3px; font-weight: 700; border-radius: 10px;">{{ icao }}</span> {{ info.AerodromeName }}
	</header>
	<main>
	<subheader>
		<a class="button-small" href="/info/{{ icao }}">&lt Voltar para o METAR</a>
		<a class="button-small" href="javascript:void(0);" onclick="copy(`{{taf}}`)">Copiar TAF</a>
	</subheader>
	
	<p>APENAS PARA USO EM SIMULADOR</p>

	<table class="padded-table">
		{% for block in decoded %}
			{% if block[0] is string %}
				<tr>
					<td class="metarItem">{{ block[0] }}</td>
					<td>{{ block[1]|safe }}</td>
				</tr>
			{% else %}
				<tr class="expandable" onclick="toggleExpand(this)">
					<td class="metarItem tafGroupHeader">{{ block[0][0] }} ▼</td>
					<td>{{ block[0][1]|safe }}</td>
				</tr>
				{% for item in block[1:] %}
					<tr class="hidden">
						<td class="metarItem metarSubItem">&nbsp;{{ item[0] }}</td>
						<td>{{ item[1]|safe }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</table>
	</main>
	<script src="/static/copy.js"></script>
	<script>
	  function toggleExpand(row) {
	    var nextRow = row.nextElementSibling;
	    var isExpanding = nextRow.classList.contains('hidden');
	    
	    while (nextRow && nextRow.querySelector('.metarItem') && nextRow.querySelector('.metarItem').innerText.startsWith(' ')) {
	      if (isExpanding) {
	        nextRow.classList.remove('hidden');
	      } else {
	        nextRow.classList.add('hidden');
	      }
	      nextRow = nextRow.nextElementSibling;
	    }
	    
	    var arrow = row.querySelector('.metarItem');
	    if (arrow.innerHTML.includes('▼')) {
	      arrow.innerHTML = arrow.innerHTML.replace('▼', '▲');
	    } else {
	      arrow.innerHTML = arrow.innerHTML.replace('▲', '▼');
	    }
	  }
	</script>
</body>
</html>
