<!DOCTYPE html>
<html>
<head>
  <title>Vento - {{nome_aeroporto}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tooltip.css">
  <link rel="stylesheet" href="/static/rwy.css">
  <link rel="stylesheet" href="/static/wind.css">
</head>
<body>
	<header>
		<span style="background-color: #eee; color: #565656; padding: 3px;">{{icao}}</span> {{ nome_aeroporto }}
		<div class="metar" style="margin-top: 5px;">
			{{ metar }}
		</div>
	</header>
	<main>
    <div class="first-line">
        <a href="{{ airport_page }}">&lt Voltar</a>
    	<span>APENAS PARA USO EM SIMULADOR</span>
    </div>
    <div class="line-big" id="runways">
        {% for runway in runways %}
        <div id="{{runway}}" class="box-rounded box-outlined">
            <div class="box-name" style="margin-bottom: 10px;">Cabeçeira {{runway}}</div>
            <div class="box-value">
                {% if runways[runway].head >= 0 %}
                    <span style="font-size: 2em; font-weight: lighter;">{{ runways[runway].head }}</span> kt de proa
                {% else %}
                    <span style="font-size: 2em; font-weight: lighter;">{{ -runways[runway].head }}</span> kt de cauda
                {% endif %}
                <br />
                {% if runways[runway].cross >= 0 %}
                    <span style="font-size: 2em; font-weight: lighter;">{{ runways[runway].cross}}</span> kt vindo da direita
                {% else %}
                    <span style="font-size: 2em; font-weight: lighter;">{{ -runways[runway].cross}}</span> kt vindo da esquerda
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
	</main>
</body>
</html>

